/*

Custom CSS for umi
=============

Author:  Yumeng
Updated: Sep 2015
Notes:   Hand coded for umi

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Myriad Set Pro","Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #666666;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height:100%;
    position:relative;
}




footer {
   background: #EEE;
   color: #333;
   font-size: 11px;
   padding: 20px;
   padding-top: 0px;
   padding-bottom: 0px;
}

#copyright {
   text-align: center;
}

/* rewrite bootstrap */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.modal-content{
  border-radius: 2px;
}

/* --------------------------------------
   Modal
   -------------------------------------- */
 


/* --------------------------------------
   Navbar
   -------------------------------------- */

.nav-buttons{
   margin-top: 14px;
}


#navbar-customized {
   background-color: rgba(0, 0, 0, 0.2);
}

#logo {
  margin-top: 7px;
}

#collapse-buttons {
  margin-top: 7px;
  margin-bottom: 7px;
}

.modal-dialog{
  width: 400px;
}

.join-us-btn {
    color: #EEE;
    font-size: 18px;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid white;
    border-radius: 3px;
    transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -webkit-transition: background 0.25s ease-in-out;
}
   
.nav-bar-btn {
    color: #EEE;
    font-size: 10pt;
}

/* --------------------------------------
   Top image
   -------------------------------------- */
#img-banner{
   position: relative;
   width: 100%;
   padding-left: 0px;
   padding-right: 0px;
   overflow: hidden;
}
#img-banner img{
  width: 100%;
  height: auto;
}

.top-img-text{
    position: absolute;
    bottom: 14vw;
    left: 50%;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%)
}
.top-img-text h1{
  font-size: 35pt;
}
.top-img-login{
    position: absolute;
    bottom: 1vw;
    left: 80%;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%)

}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#promotion{
   margin-top: 80px;
}

#promotion .item{
   height: 200px;
}

#slide1 {
   background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide3 {
   background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}




/* --------------------------------------
   Filter
   -------------------------------------- */
#filter {
  font-size:10pt;
  border: 2px solid #dce0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

#filter div {
  padding-left: 30px;
}

.filter-row {
  border-bottom: 2px solid #dce0e0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rate-row {
  background-color: #F0F0F0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-rate {
  font-family: "Benton Sans Medium","Helvetica","sans-serif";
  color: #666;
}

.btn-selected {
  background-color: orange;
  border-radius: 4px;
  color: white;
}

.btn-selected:hover {
    color: white;
}

/* --------------------------------------
   Food List
   -------------------------------------- */
#foodList{
   margin-top: 30px;
   margin-bottom: 30px;
}

#item{
   padding: 10px;
}

.bg-item-box {
  background-color: #f7f7f7;
  margin-top: 25px;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  #img-banner{
    height: auto;
  }
}

@media (max-width: 767px) {
  #img-banner{
    max-height: 400px;
  }
}


/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
  #img-banner{
    max-height: 42vw;
  }
}



/*   #promotion .item{
      height: 155px;
   }

   #slide1 {
      background: url('../../images/carousel_small_01.jpg') top center no-repeat;
   }

   #slide2 {
      background: url('../../images/carousel_small_01.jpg') top center no-repeat;
   }

   #slide3 {
      background: url('../../images/carousel_small_01.jpg') top center no-repeat;
   }*/


/* Large desktop */
@media (min-width: 1200px) {
  /*#promotion .item{
     height: 250px;
  }

  #slide1 {
     background: url('../../images/carousel_large_01.jpg') top center no-repeat;
  }

  #slide2 {
     background: url('../../images/carousel_large_01.jpg') top center no-repeat;
  }

  #slide3 {
     background: url('../../images/carousel_large_01.jpg') top center no-repeat;
  }*/
}