
<div class="container">
	<div class="row">
		
		<div class="col-sm-6">
			<h6>Umi</h6>
			<ul class="unstyled">
				<li><a href><span>About</span></a></li>
				<li><a href><span>Contact</span></a></li>
				<li><a href><span>Term &amp; Policy</span></a></li>
			</ul>
		</div><!-- end col-sm-4 -->
		

		
		<div class="col-sm-6">
			<h6>Happy cooking</h6>
			<ul class="unstyled">
				<li><a href><span>Why cook</span></a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Google Plus</a></li>
			</ul>
		</div><!-- end col-sm-2 -->
		
	</div><!-- end row -->
	<div class="row">
		<div class="col-sm-12" id="copyright">
			<h6>Copyright &copy; 2015</h6>
		</div><!-- end col-sm-2 -->
	</div>
</div><!-- end container -->

