	<div id="img-banner">
	  <div class="">
	    <img src="img/banner.jpg" />       
	    <div class="top-img-text">
	      <h1>Get A Taste Like Home Again</h1>
	    </div>
	     
		<div class="top-img-login">		
	    	<input placeholder="User Name" type="text" class="input" ></input>
	    	<input placeholder="Password" type="text" class="input" ></input>
	    	<br />
	    	<button class="Sign-in-btn btn" ng-click="">Get Your Homemade Meals Now</button>
	    </div>  
	    
	  </div>
	</div>



<div class="container">

	<div id="filter">
		<div class="row filter-row">
			<label class="checkbox-inline">
  				<input type="checkbox" id="delivery-btn" value="option1">Delivery
			</label>
			<label class="checkbox-inline">
  				<input type="checkbox" id="delivery-btn" value="option1">Pickup
			</label>
		</div>

		<div class="row filter-row">
			<span>Cuisine: </span>
			<a ng-repeat="category in mainCtrl.categoryList" ng-click="mainCtrl.setCategory(category)" class="btn btn-rate" ng-class="{'btn-selected': mainCtrl.selectedTabKey == category.name}"><span>{{category.name}}</span></a>
		</div>
		<div class="row rate-row">
			<span>Rate Order: </span>
			<a href="" ng-click="" class="btn"><span>Popularity</span></a>
			<a href="" ng-click="" class="btn"><span>Delivery</span></a>
			<a href="" ng-click="" class="btn"><span>price</span></a>
		</div>
	</div>



	<div class="bg-item-box">
		<div ng-if="mainCtrl.loaded == false">
        	Loading results...
      	</div>

		<div ng-if="mainCtrl.loaded == true" class="row">
			<div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="item in items" id="item" >
			    <a href="" ng-click="" class="thumbnail">
			      <img ng-src="{{item.images[0]}}" />
			      <div class="caption">
			        <h3 class="pull-right">{{item.name}}</h3>
			        <section>
			        	<p>Rate: {{item.rate}}</p>
			        	<p>Location: {{item.location}}</p>
					</section>
			      </div><!-- /description -->
			    </a>
			</div><!-- /item -->
		</div>

		<div ng-if="mainCtrl.noItem == true">
        	Sorry, We temporarily don't have items what you want around your location. <a href class="btn">List this item!</a>
     	</div>
	</div>
</div>

